<footer class="footer">

    <div class="footer-top">

        <h2>Ready to Transform Your Healthcare?</h2>

        <p>
            Store, analyze and manage your medical records with AI.
        </p>

        <button class="footer-btn">
            Get Started
        </button>

    </div>

    <div class="footer-content container">

        <div class="footer-brand">

            <img src="images/RafiqLogo.png" alt="Logo">

            <h3>Rafiq</h3>

            <p>
                AI Healthcare Companion helping you manage your health
                smarter and faster.
            </p>

        </div>

        <div class="footer-links">

            <h4>Quick Links</h4>

            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Contact</a>

        </div>

        <div class="footer-links">

            <h4>Services</h4>

            <a href="#">Medical Records</a>
            <a href="#">Medication Reminder</a>
            <a href="#">Family Health</a>

        </div>

        <div class="footer-links">

            <h4>Contact</h4>

            <a href="#">support@rafiq.ai</a>
            <a href="#">+20 100 000 0000</a>

        </div>

    </div>

    <div class="copyright">

        © 2026 Rafiq. All Rights Reserved.

    </div>

</footer>