<section class="hero">

    <div class="container">

        <!-- Left Side -->

        <div class="hero-content">

            <p class="subtitle">
                AI Powered Healthcare
            </p>

            <h1>
                Your AI <br>
                Healthcare <br>
                Companion 24/7
            </h1>

            <p class="description">

                Minimal and premium landing page
                for your medical assistant.

            </p>

            <button class="hero-btn">
                Get Started
            </button>

        </div>

        <!-- Right Side -->

<div class="hero-image">

    <div class="robot-container">

        <div class="glow"></div>

        <div class="glass-circle"></div>
       
        <img src="images/RafiqLogo.png" class="robot">
       
        <div class="circle one"></div>
        <div class="circle two"></div>
        <div class="circle three"></div>

    </div>

</div>

    </div>

</section>