<section class="hero" [class.hero-ar]="language === 'ar'">

    <div class="container">

        <!-- Left Side -->
        <div class="hero-content">

            <p class="subtitle">
                {{ t.subtitle }}
            </p>

            <h1>
                {{ t.title[0] }} <br>
                {{ t.title[1] }} <br>
                {{ t.title[2] }}
            </h1>

            <p class="description">
                {{ t.description }}
            </p>

            <button class="hero-btn">
                {{ t.cta }}
            </button>
        </div>

        <!-- Right Side -->

<div class="hero-image">

    <div class="robot-container">

        <div class="glow"></div>

        <div class="glass-circle"></div>
       
        <img src="images/RafiqLogo.png" class="robot" alt="Rafiq robot">
       
        <div class="circle one"></div>
        <div class="circle two"></div>
        <div class="circle three"></div>

    </div>

</div>

    </div>

</section>
