<section class="features">

    <div class="container">

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">1</span>

                <h3>{{ t.items[0].title }}</h3>

                <p>
                    {{ t.items[0].description }}
                </p>

            </div>

            <div class="feature-image">

                <img src="images/sync.png" [alt]="t.items[0].alt">

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">2</span>

                <h3>{{ t.items[1].title }}</h3>

                <p>
                    {{ t.items[1].description }}
                </p>

            </div>

            <div class="feature-image">

                <img src="images/reminder.png" [alt]="t.items[1].alt">

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">3</span>

                <h3>{{ t.items[2].title }}</h3>

                <p>
                    {{ t.items[2].description }}
                </p>

            </div>

            <div class="feature-image">

                <img src="images/record.png" [alt]="t.items[2].alt">

            </div>

        </div>

    </div>

</section>
