*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:#f8fdff;
}

.container{
    max-width:1200px;
    width:90%;
    margin:0 auto;
}   

/* Shared Onboarding Layout */
.onboarding-layout {
  width: 100%;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

