<section class="features">

    <div class="container">

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">1</span>

                <h3>Smart Vitals Sync</h3>

                <p>
                    Smart vitals monitor and healthcare AI
                    to track your health in real-time.
                </p>

            </div>

            <div class="feature-image">

                <img src="images/sync.png">

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">2</span>

                <h3>Medication Reminder</h3>

                <p>
                    Never miss a medicine with smart reminders and schedules.
                </p>

            </div>

            <div class="feature-image">

                <img src="images/reminder.png" alt="Reminder">

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-content">

                <span class="number">3</span>

                <h3>Family Health Records</h3>

                <p>
                    Store and share your family's medical records securely.
                </p>

            </div>

            <div class="feature-image">

                <img src="images/record.png" alt="HealthRecords">

            </div>

        </div>

    </div>

</section>